<nav id="nav">
    <ul>
        <li><a href="#intro" id="intro-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Introduction</span></a></li>
        <li><a href="#facebook" id="facebook-link" class="skel-layers-ignoreHref"><span class="icon fa-facebook-official">Facebook</span></a></li>
        <li><a href="#resources" id="resources-link" class="skel-layers-ignoreHref"><span class="icon fa-github-square">Resources</span></a></li>
        <li><a href="#blog" id="blog-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Blog Posts</span></a></li>
    </ul>
</nav>
